<nav class="flex items-center justify-between p-4 bg-gray-800 text-white shadow">
  <!-- Sección izquierda: logo y título -->
  <div class="flex items-center">
    <img src="logo.png" alt="Logo" class="h-10 w-10 mr-3 rounded-full" />
    <span class="text-xl font-bold">Catálogo de Libros</span>
  </div>

  <!-- Sección derecha: enlaces -->
  <div class="flex space-x-4">
    <a [routerLink]="['/home']">Inicio</a>
    <a [routerLink]="['/catalogo']">Catálogo</a>
    <a [routerLink]="['/contacto']">Contacto</a>

    <ng-container *ngIf="(authService.authState$ | async) as user; else sinSesion"> <!-- Verifica si hay un usuario autenticado -->
        
        <a [routerLink]="['/book-form-reactive']">Agregar Libro</a>
        <div>
            {{ user.displayName || user.email }} | <a href="#" (click)=onLogout()>Salir</a>
        </div>
    </ng-container>
    <ng-template #sinSesion>
        <a [routerLink]="['/login']">Login</a>
    </ng-template>
  </div>
</nav>
