nav {
  background-color: #283593;
  color: white;
  padding: 1rem;
  text-align: center;
}

nav {
  display: flex;
  gap: 1.5rem;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s, border-bottom 0.3s;
}

nav a:hover {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}

nav a.active-link {
  color: #ffcc00;
  border-bottom: 2px solid #ffcc00;
}
