    <h2 class="text-3xl font-bold underline">Bienvenido al Catálogo de Libros</h2>
    <p>Explora nuestra colección de libros y encuentra tu próxima lectura favorita.</p>
    

    <p>Utiliza el menú de navegación para acceder al catálogo, agregar nuevos libros o ponerte en contacto con nosotros.</p>

    <p>Para comenzar, visita el <a [routerLink]="['/catalogo']">Catálogo de Libros</a>.</p>
    <p>Si aún no tienes una cuenta, puedes <a [routerLink]="['/register']">registrarte aquí</a>.</p>
    <p>Si ya tienes una cuenta, puedes <a [routerLink]="['/login']">iniciar sesión</a>.</p>     
    
    <p>Para agregar un nuevo libro, visita la sección <a [routerLink]="['/book-form-reactive']">Agregar Libro</a>.</p>
    <p>Si necesitas ayuda, visita nuestra sección de <a [routerLink]="['/contacto']">Contacto</a>.</p>      


    <p>¡Disfruta de tu lectura!</p>
